<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icone.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <title>Mosaic-Login</title>
</head>
<body>  
<main>
    <form method="post">
    <img src="{{ url_for('static', filename='img/logo-v.svg') }}" alt="mosaic sistemas e soluções"> <br>

    <p>
        Insira seus dados aqui
    </p> <br>
    <input type="text" name="usuario" id="usuario" placeholder="Usuario" required> <br>
    <input type="password" name="senha" id="senha" placeholder="Senha" required> <br>

    <input type="submit" value="Login">

    
    {%if erro%}
        <p id="erro">{{erro}}</a></p>
    {%endif%}
    </form>

</main>

<div id="particles-js">
</div>

<script src="{{ url_for('static', filename='particles.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
